{
  "name": "{{PKG_NAME}}",
  "version": "{{VERSION}}",
  "description": "{{DESCRIPTION}}",
  "private": true,
  "type": "module",
  "scripts": {
    "build": "vite build --emptyOutDir",
    "dev": "vite build --watch"
  },
  "peerDependencies": {
    "@plamenix/ui": "^1.0.0-beta",
    "react": "^19",
    "react-dom": "^19"
  },
  "devDependencies": {
    "vite": "^8"
  }
}
